*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body{
  background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.amiblog {
  font-family: 'Cookie', cursive;
  font-size: 180%;
}

.container1{
  width: 85vw;
  padding: 20px;
  content: "";
  max-width: 600px;
  margin: 10px auto;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  background: #fff;
}

.container{
  width: 100vw;
  padding: 20px;
  height: 75vh;
  content: "";
  max-width: 600px;
  margin: 10px auto;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
  background: #fff;
  box-shadow: 7px 7px 16px rgba(5, 5, 5, 0.400);


  text-align: center;
}
.sup{
    width: 80vw;
    padding: 20px;
    height: 40vh;
    content: "";
    margin: 10px auto;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    background: #fff;
}
.middle{
    width: 70vw;
    padding: 10px;
    height: 7vh;
    content: "";
    margin: 10px auto;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
}
.sub{
    width: 100vw;
    padding: 10px;
    height: 40vh;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    background: #fff;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.me-2 {
    margin-right: .5rem!important;
}

.navbar>.container{
      justify-content: space-between;
}
.x{
    margin-top: 8px;
}
.container h2{
  margin-bottom: .8rem;
}

.form-control{
   width: 95%;
   margin: 0 auto;
   height: 5px;
 }
 .mb-3 label{
   margin-left: 1%;
   color: gray;
   font-size: 14px;
 }
 .form-control1{

    width: 88%;
    margin: 0 auto;
    height: 100%;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: .25rem;
 }
 .form-floating>.form-control, .form-floating>.form-select{
 height: 2.75rem;
 padding: .5rem;
}
.h1{
    font-family: 'Fjalla One', sans-serif;
    text-align:center;
    color:#fff;
}

.post{
  width: 100vw;
  padding: 20px;
  height: 80vh;
  max-width: 600px;
  margin: 10px auto;
  justify-content: center;
  border-radius: 15px;
  flex-direction: column;
  background: #fff;
}

.post p{
    text-align:center;
}


.contenedor{
  /*background: linear-gradient(#c3c3d4, #021e25);*/
  width: 100vw;
  height: 75vh;
  padding: 20px;
  background: #fff;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  background: #fff;
  box-shadow: 7px 7px 15px rgba(5, 5, 5, 0.527);

  text-align: center;
  /*background: #6190E8;
  background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);
  background: linear-gradient(to left, #A7BFE8, #6190E8);*/
}
.contenedor input {
  width: 30%;
  height: 40px;/*40px*/
  border-radius: 7px;/*7px*/
  border: 2px solid rgba(36, 35, 35, 0.719);
  margin: 0.5rem;
}
#texto{
  border-radius: 9px;

}
#sobre{

  text-align:center;
}

h4
{
  font-size: 18px;
}
h1
{
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
