{%extends "layout.html"%}
{% block title %}
    Configuración
{% endblock %}
{% block main %}
<form action="/config" method="post">
    <div>
        <p>
            Editar perfil
        </p>
    </div>
    <div>
        <input name="name" placeholder="Nombre" type="text"/>
    </div>
    <div>
        <input name="lastname" placeholder="Apellido" type="text"/>
    </div>
    <div>
        <p>
            Nombre de usuario
        </p>
        <input name="username" placeholder="" type="text"/>
    </div>
    <div>
        <p>
            Acerca de tu perfil
        </p>
        <input name="acercaperfil" type="text"/>
    </div>
    <button> Cancelar</button>
    <button type="submit">Guardar</button>

{% endblock %}