{%extends "layout.html"%}
{% block title %}
    Inicio
{% endblock %}

{% block main %}
    <h1 class="h1">Posts</h1>
    {% for post in posts %}
    <div class="container1">
        <div class="card mb-3">
        <div class="card-header border-secondary">
            <h5 class="card-title"><a class="card-text" href="/{{redir}}">{{post.username}}</a></h5>
        </div>
        <img src="{{post.img}}" class="card-img-top" alt="{{post.descripcion}}">
        <br >
        <!--<div class="card-body card-group border-secondary">
            <div class="row row-cols-2">
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-comment"></i>
            </div>-->
        </div>
        <div class="card-body border-secondary">
            <p class="card-text">{{post.description}}</p>
            <a href="/post/{{post.id_post}}" class="card-link">Ver los comentarios</a>
            {% for comentario in comentarios %}
            <p class="card-text">{{post.description}}</p>
            {% endfor %}
            <p class="card-text"><small class="text-muted">Publicado a las {{post.created}} </small></p>
        </div>
        <div class="card-footer border-secondary">
            <form action="/comentario">
                <div class="input-group">
                    <input type="text" class="form-control1" name="comentario" placeholder="Agregue un comentario" aria-label="Agregue un comentario" aria-describedby="btnInput">
                    <button class="btn btn-outline-secondary" type="button" id="btnInput">Post</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    {% endfor %}
    <!--<p>gracias cristo-</p>-->
{% endblock %}