{%extends "layout.html"%}
{% block title %}
    Login
<link rel="stylesheet" href="static/styles.css">
{% endblock %}

{% block main %}

<div class="contenedor">
     <form action="/login" method="post">
        <div>
            <label>Nombre de usuario</label>
            <input name="username" placeholder="Nombre de usuario" required="" type="text"/>
        </div>
        <div>
            <label>Contraseña</label>
            <input name="password" placeholder="Contraseña" required="" type="password"/>
        </div>
        <div>
           <button type="submit">Ingresar</button> 
        </div>
        </form>
</div>
{% endblock %}