{%extends "layout.html"%}
{% block title %}
    Login
{% endblock %}

{% block main %}
<link rel="stylesheet" href="static/styles.css">
<div class="container">
     <form action="/login" method="post">
        <div>
            <label>Nombre de usuario</label>
            <input name="username" placeholder="Nombre de usuario" required="" type="text"/>
        </div>
        <div>
            <label>Contraseña</label>
            <input name="password" placeholder="Contraseña" required="" type="password"/>
        </div>
        <button type="submit">Ingresar</button>
</div>
{% endblock %}