{%extends "layout.html"%}
{% block title %}
    Mi perfil
{% endblock %}

{% block main %}
<div class="">
    <div class="sup" >
        <div class="x">
            <h2 class="h2 text-center ">{{nombre}} {{apellido}}</h2>
        </div>
        <div>
            <h3 class="h6 text-center">@{{ username1 }}</h3>
        </div>
        <hr>
        <div id=sobre>
            <label class="h5 text-center text-muted"><u>Sobre mí</u></label>
            <p class="text-center">{{descripcion}}</p>
        </div>
    </div>
    <br>
    <div class = "sub">
        <div>
            <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}