{%extends "layout.html"%}
{% block title %}
    Mi perfil
{% endblock %}

{% block main %}
<div class="">
    <div class="sup" >
        <div class="x">
            <h2 class="h2 text-center ">{{nombre}} {{apellido}}</h2>
        </div>
        <div>
            <h3 class="h6 text-center">{{ username }}</h3>
        </div>
        <br>
        <div>
            <label class="h4 text-center text-muted">Sobre mí</label>
            <p class="text-center">{{descripcion}}</p>
        </div>
    </div>
    <br>
    <div class="middle">
        <div class="d-grid gap-2 mx-auto">
              <a href="/nuevopost" class="btn btn-outline-info" role="button">Subir un post</a>
        </div>
        <br>
    </div>

</div>
{% endblock %}