{%extends "layout.html"%}
{% block title %}
    Registrarse
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="contenedor">
            <div>
                <label>Nombre de usuario</label>
                <input autocomplete="off" autofocus name="username" placeholder="Nombre de usuario" required= "" type="text">
            </div>
            <div>
                <label>Nombre</label>
                <input autocomplete="off" autofocus name="name" placeholder="Nombre" type="text">
            </div>
            <div>
                <label>Apellido</label>
                <input autocomplete="off" autofocus name="lastname" placeholder="Apellido" type="text">
            </div>
            <div>
                <label>Contraseña</label>
                <input name="password" autofocus placeholder="Contraseña" type="password">
            </div>
            <div>
                <label>Confirme su contraseña</label>
                <input name="confirmation" placeholder="Confirme su contraseña" type="password">
            </div>
        <button type="submit">Registrarse</button>
        </form>
        </div>
        
{% endblock %}