{%extends "layout.html"%}
{% block title %}
    Subir un post
{% endblock %}

{% block main %}

<div class="mb-3 container">
    <form action="/nuevopost" method="POST" enctype="multipart/form-data" >
    <h2 class="h1">Subir un nuevo post</h2>
    <input type="file" name="imagen"><br>
    <div class="mb-3">
          <label for="exampleFormControlTextarea1" id="inputGroupFile01" class="form-label">Agrega una descripción</label>
          <textarea name ="description"class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
        <button class="btn btn-primary">Subir post</button>
    </form>
</div>

{% endblock %}